.pk-settings-form input[type="checkbox"] {
    vertical-align: sub;
}

.pk-settings-form .flex-parent {
    display: flex;
}

.pk-settings-form .flex-1 {
    flex: 1;
}

.pk-settings-form .mb5 {
    margin-bottom: 5px;
}

.pk-settings-form .sub-form {
    margin: 5px 0 10px 0;
}

.pk-control .pk-control-details {
    margin: 2px;
    padding-top: 5px;
}

.pk-control .pk-control-detail-body {
    height: 385px;
    overflow-y: scroll;
}

.pk-control .pk-control-results,
.pk-control .pk-control-details-header {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.pk-control .pk-control-results {
    overflow-y: scroll;
    height: 202px;
}

.pk-control .pk-control-result,
.pk-control .pk-control-detail-header {
    display: flex;
    flex-direction: row;
}

.pk-control .pk-control-result {
    cursor: pointer;
    border: 1px solid transparent;
}

.pk-control .pk-control-result.hidden {
    display: none;
}

.pk-control .pk-control-result:hover,
.pk-control .pk-control-result.selected {
    border: 1px solid #ff0000;
}

.pk-control .pk-control-result img,
.pk-control .pk-control-detail-header img {
    height: 48px;
    width: 48px;
    border-radius: unset;
}

.pk-control .pk-control-result h4,
.pk-control .pk-control-detail-header h4 {
    margin: 0 0 0 8px;
    width: 100%;
}

.pk-control .pk-control-result a,
.pk-control .pk-control-detail-header span {
    display: inline-block;
    line-height: 48px;
    width: 100%;
}

.pk-control .pk-control-detail.hidden {
    display: none;
}

.pk-control .pk-control-detail-header {
    border-bottom: 1px solid black;
}

.pk-control .pk-control-detail-body {
    display: flex;
    flex-direction: column;
}

.pk-control .pk-property {
    display: flex;
    padding: 5px;
    border-top: 1px solid black;
}

.pk-control .pk-property:first-child {
    border-top: unset;
}

.pk-control .pk-property-name {
    min-width: 160px;
}

.pk-control .pk-property-value {
    width: 100%;
}

.pk-control .pk-ability-button {
    padding: 1px;
}

.pk-control .pill {
    float: left;
    border-radius: 9px;
    padding: 2px 5px;
    background: rgba(255, 255, 240, 0.8);
    margin-right: 3px;
}